<ol>
  <li>
    Kindly make sure you read the faq before proceeding to invite and familarize yourself with test
    environment. <%= link_to 'Click here', faq_url %> to read the faq.
  </li>
  <li> Once you agree we will present you with a timed questions that you must complete in given time. No Submission
    will be allowed after time is over.
  </li>
  <li> Make sure you have require time free in one sitting. You can't start the invite again after time is over. However
    you can return to test in given allotted time.
  </li>
  <li> Focus on solving the problem. All the condition will be correctly given in problem, you are not expected to do
    error checking.
  </li>
  <li> Read inputs from STDIN and output to STDOUT.</li>
  <li> We currently support C, C++, Java, C# (Mono), Python, Ruby and Scala as the solution medium for coding problems.</li>
  <li> You accept that the following work is your own.</li>
  <ol>
