<% title 'Invite Finish' %>
<h1> Thanks ! </h1>
<hr/>
<p class='lead'>
  Thanks for taking the time to complete the test. Your recruiter will keep you posted on next steps. <br/><br/>

  Let us know if you face any issues with <%= t 'name' %> tool. We would be happy listen to your feedback. Also if you
  have any feature in mind. You are welcome, to drop a mail to say Hi to our team.
</p>

<hr/>
<%= render :partial => 'shared/feedback_widget' %>
