<% title 'New Invite' %>
<ul class="breadcrumb">
  <li>
    <%= link_to 'Home', root_path %> <span class="divider">/</span>
  </li>
  <li>
    <%= link_to 'Invite', invites_path %> <span class="divider">/</span>
  </li>
  <li class="active">New Invite</li>
</ul>
<h1>New invite</h1>

<%= render 'form' %>


