<div class="well">
  <div class="row-fluid">
    <div class="span5"><h3><%= code_problem.name %></h3></div>
    <div class="span3"><h3><%= pluralize(code_problem.timeout, 'second') %></h3> time limit</div>
    <div class="span3"><h3>128 megabytes</h3> memory limit</div>
  </div>
</div>

<hr/>

<div class="well">
  <%= raw code_problem.statement %>
</div>
