<p style="text-align: justify;">
  Problem Statement Here
</p>

<h3>Input</h3>
<p>Input Format Specification </p>

<h3>Output</h3>
<p style="text-align: justify;"> Output Format Specification </p>

<h4>Example</h4>
<strong>Input:</strong><br/>
2<br/>
4 0<br/>
3 2<br/>
1 2<br/>
1 3<br/>
<br/>

<strong>Output:</strong><br/>
4<br/>
2
