<div class="well">
  <div class="row-fluid">
    <div class="span6"><h3><%= problem.name %></h3></div>
    <div class="span2"><h3>Score <%= problem.score %></h3></div>
  </div>
</div>

<hr/>

<div class="well">
  <%= raw problem.statement %>
</div>


