<p style="text-align: justify;">
  Problem Statement Here
</p>

<h3>Output</h3>
<p style="text-align: justify;"> Output Format Specification </p>

<h3>Examples</h3>
Write Any Example Here which explains the problem statement more better.
