<%= simple_form_for(:user, :url => admin_signin_path, :html => {:class => 'form-inline'}, :remote => true ) do |f| %>
    <div class="inputs">
      <%= f.input_field :email, :required => false, :autofocus => true, :placeholder => "email" %>
      <%= f.button :submit, "Sign in", :class => 'btn-primary' %>
    </div>
<% end %>