<h3> Common Errors </h3>
<hr/>
<dl>
  <dt>conio.h</dt>
  <dd>There is no conio.h in gnu c / c++. Before submitting the program to judge make sure you compile using gcc / g++
    on your computer.
  </dd>
</dl>
