<h3> Lang Information</h3>
<hr/>
<table>
  <thead>
  <tr>
    <th>Langauge</th>
    <th>Version</th>
    <th>Command Line</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>C</td>
    <td>gcc version 4.6.3 (Ubuntu/Linaro 4.6.3-1ubuntu5)</td>
    <td>gcc -O3 -Wall -std=c99 -lm</td>
  </tr>
  <tr>
    <td>C++</td>
    <td>gcc version 4.6.3 (Ubuntu/Linaro 4.6.3-1ubuntu5)</td>
    <td>g++ -O3 -Wall -lm</td>
  </tr>
  <tr>
    <td>Java</td>
    <td>java version "1.6.0_27"</td>
    <td>javac -O Use classname Solution</td>
  </tr>
  <tr>
    <td>CSharp</td>
    <td>Mono JIT compiler version 2.10.9</td>
    <td>mono -O=all --security</td>
  </tr>
  <tr>
    <td>Python</td>
    <td>Python 2.7.3 with GCC 4.6.3</td>
    <td>pypy-sandbox --tmp=run</td>
  </tr>
  <tr>
    <td>Ruby</td>
    <td>ruby 1.9.3p392</td>
    <td>ruby -T3</td>
  </tr>
  <tr>
    <td>Scala</td>
    <td>Scala code runner version 2.9.1</td>
    <td>Scala Solution</td>
  </tr>
  <!--
      <tr>
        <td>Pascal</td>
        <td>Free Pascal Compiler version 2.4.4-3.1</td>
        <td>fpc -O3 -vw</td>
      </tr>
  -->
  </tbody>
</table>