<h3> Status Code Information</h3>
<hr/>

<dl>
  <dt>Accepted</dt>
  <dd>Your program ran successfully and gave a correct answer</dd>
  <dt>Accepted on Sample Testcases</dt>
  <dd>Your program ran successfully and gave a correct answer on sample test cases.</dd>
  <dt>Wrong Answer</dt>
  <dd>
    Your program ran successfully, but gave an incorrect answer.
  </dd>
  <dd>There can be many things here. Please note you don't have to print anything except what is asked in problem.
  </dd>
  <dd>
    Solution asking for input like "please input your number" will be graded as wrong answer. See example for more
    explanation
  </dd>
  <dt>Time Limit Exceeded</dt>
  <dd>Your program was compiled successfully, but it didn't stop before time limit</dd>
  <dt>Compilation Error</dt>
  <dd>Your program couldn't be compiled; compiler's errors can be seen by clicking on submission.</dd>
  <dt>Runtime Error</dt>
  <dd>your program was compiled succesfully, but it exited with an error.</dd>
  <dd> There are many reason, some of the most common are
    <ol>
      <li>
        You tried to access the operating system command, which your program don't have permission for.
      </li>
      <li>
        SIGSEGV (signal 11) - most common, "segmentation fault"
      </li>
      <li>
        SIGFPE (signal 8) - "floating point error", like division by zero, etc.
      </li>
      <li>
        SIGABRT (signal 6) - raised by the program itself; C++ STL does it under some conditions
      </li>
      <li>
        NZEC (non-zero exit code) - helps telling crash from WA with interpreted languages
      </li>
    </ol>
  </dd>

</dl>

