<div class='offset3 span6'>
    <h1 align=center>
        Effective way to screen programmers
    </h1>
    <br />
    <p class="lead">
        Use real world programming challenges to screen your candidates.
        We currently support - C, C++, C#, Java, Python, Ruby and Scala. Instantly
        view your candidate thought process, get email when candidate is finished with test.
    </p>

    <%= link_to (t 'demo.home_button_text'), demo_signin_path, :class => "btn btn-large btn-block btn-primary" %>
    <br />
</div>
<hr />

<%= render 'shared/beta_request' %>