<% title 'About Us' %>

<div id="about">
  <div class="title">
    <h1>About Us</h1><br/>

    <p class='lead'>
      <%= t 'name' %> is based in <%= t 'location' %>. We're making it easier to hire good talent.
    </p>
  </div>
  <hr/>

  <div id="team">
    <a href="https://twitter.com/fameoflight2" target="_blank" class="hemantv">
                <span class="bio" style="top: -142px; ">
                    <span class="inner">
                        <em>Hemant Verma</em>
                        Before Starting <%= t 'name' %>, Hemant worked at Microsoft with Bing and
                        Office Mobile. Apart from computers Hemant is equally passionate about
                        Mathematics and Physics.

                    </span>
                    <span class="arrow" style="left: 39px; margin-left: 0px; "></span>
                </span>

      <strong>
        <span class="frame"></span>
        <img src="/assets/profile/hemantv.jpg" width="100" height="100">
      </strong>
    </a>
  </div>
  <hr/>
  <p class='lead' style="text-align: justify;">
    <%= t 'metadata.description' %>
  </p>

</div>


