<% title 'Contact Us' %>

<div id="about">
  <div class="title">
    <h1>Contact Us</h1><br/>

    <p class='lead' style="text-align: justify;">
      Thanks for taking the time to contact us!
    </p>
  </div>
  <hr/>
  <%= render :partial => 'shared/feedback_widget' %>
</div>


