<% title 'Feedback' %>

<div id="about">
  <div class="title">
    <h1>Feedback</h1><br/>

    <p class='lead' style="text-align: justify;">
      Provide us with feedback about your experience in using HireHub. Mail your feedback directly to <%= mail_to 'hemantv@hirehub.me' %>.
    </p>
  </div>
  <hr/>
  <%= render :partial => 'shared/feedback_widget' %>
</div>